* { box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  background: #00457b;
}

#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}
header img {
  margin-right: .5rem;
}

.container {
  min-width: 280px;
  padding: 1rem;
  background: white;
}
.container .col {
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
}

.power,
.catch {
  float: right;
  font-family: monospace;
  margin-left: auto;
  padding: .2rem .4rem;
  border-radius: .3rem;
  background: #333;
  color: #fff;
}

input {
  width: 100%;
  padding: .5rem;
  font-size: large;
  border-radius: .3rem;
  border: 1px solid #aaa;
}
input:focus {
  outline: none;
  border-radius: .3rem;
  border-color: coral;
}

footer {
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: small;
  border-top: 1px solid #ddd;
}
footer a {
  color: #00457b;
  display: inline-flex;
  text-decoration: none;
}
footer img {
  width: 1rem;
  height: 1rem;
  margin-right: .3rem;
}